<div class="projects">
  <app-project project_href={{mcsc.href}} project_image={{mcsc.image}} project_image_desc={{mcsc.image_desc}} project_name={{mcsc.name}} project_desc={{mcsc.desc}}></app-project>
  <app-project project_href={{ptw.href}} project_image={{ptw.image}} project_image_desc={{ptw.image_desc}} project_name={{ptw.name}} project_desc={{ptw.desc}}></app-project>
  <app-project project_href={{w3dp.href}} project_image={{w3dp.image}} project_image_desc={{w3dp.image_desc}} project_name={{w3dp.name}} project_desc={{w3dp.desc}}></app-project>
  <app-project project_href={{wtc.href}} project_image={{wtc.image}} project_image_desc={{wtc.image_desc}} project_name={{wtc.name}} project_desc={{wtc.desc}}></app-project>
  <app-project project_href={{nightstand.href}} project_image={{nightstand.image}} project_image_desc={{nightstand.image_desc}} project_name={{nightstand.name}} project_desc={{nightstand.desc}}></app-project>
  <app-project project_href={{tplds.href}} project_image={{tplds.image}} project_image_desc={{tplds.image_desc}} project_name={{tplds.name}} project_desc={{tplds.desc}}></app-project>
  <app-project project_href={{ks.href}} project_image={{ks.image}} project_image_desc={{ks.image_desc}} project_name={{ks.name}} project_desc={{ks.desc}}></app-project>
  <app-project project_href={{sb.href}} project_image={{sw.image}} project_image_desc={{sw.image_desc}} project_name={{sw.name}} project_desc={{sw.desc}}></app-project>
  <app-project project_href={{wic.href}} project_image={{wic.image}} project_image_desc={{wic.image_desc}} project_name={{wic.name}} project_desc={{wic.desc}}></app-project>
  <app-project project_href={{desk.href}} project_image={{desk.image}} project_image_desc={{desk.image_desc}} project_name={{desk.name}} project_desc={{desk.desc}}></app-project>
</div>