.projects {
    display: flex; /* or inline-flex */
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px 25px; /* row-gap column gap */
    padding-top: 100px;
    padding-bottom: 100px;
}