mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    background-color: #0D5891;
}

mat-sidenav-content {
    height: 100%;
    margin: 0;
    padding: 0;
}

#projects {
    height: 100%;
    width: 100%;
}


#sidenavButton {
    padding-top: 10px;
}

#toggleSidenav {
    border: none;
    padding: 5px 10px 5px 5px;
    background-color: #0D5891;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

#sidenavButton {
    position: fixed;
}

.sidenavItem {
    padding: 15px 30px 15px 30px;
}

.sidenavItem:hover {
    background-color: #2F3034;
}