mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    padding: 40px 40px 40px 0px;
    background-color: burlywood;
}

#sidenavButton {
    padding: 10px 0px 0px 0px;
}

#toggleSidenav {
    border: none;
    padding: 5px 10px 5px 5px;
    background-color: burlywood;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

a {
    color: black;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}


#sidenavButton {
    position: fixed;
}