<section>
    <section id="setup-title">
        <h1 id="title">My setup</h1>
    </section>
    <section id="computer" class="setup-equipment">
        <a class="img-link" href="https://www.lenovo.com/se/sv/laptops/thinkpad/t-series/ThinkPad-T14-Gen-3-14%27%27-Intel/p/LEN101T0014">
            <img class="equipment-img" src="/assets/setup/computer.png" alt="ThinkPad T14 Gen 3"> 
        </a>
        <div class="info">
            <h2 class="equipment-title" id="title-computer">Computer</h2>
            <p>Thinkpad T14 gen 3, Fn and Ctrl may be in the wrong positions but that red nipple compensates for it all.</p>
        </div>
    </section>
    <section id="keyboard" class="setup-equipment">
        <div class="info">
            <h2 class="equipment-title" id="title-keyboard">Keyboard</h2>
            <p>Happy Hacking Keyboard Classic, yes you can use it for other things than hacking, like writing this sentence.</p>
        </div>
        <a class="img-link" href="https://happyhackingkb.com/">
            <img class="equipment-img" src="/assets/setup/keyboard.png" alt="Happy Hacking Keyboard Classic"> 
        </a>
    </section>
    <section id="monitor" class="setup-equipment">
        <a class="img-link" href="https://www.philips.se/c-p/BDM4350UC_00/brilliance-4k-ultra-hd-lcd-skaerm">
            <img class="equipment-img" src="/assets/setup/monitor.png" alt="Philips 43 BDM4350UC UHD/4K"> 
        </a>
        <div class="info">
            <h2 class="equipment-title" id="title-monitor">Monitor</h2>
            <p>Philips 43" BDM4350UC UHD/4K, you may think that 43" monitor is too big and you would be right. It is, however, not as horrible as you might think.</p>
        </div>
    </section>
    <section id="mouse" class="setup-equipment">
        <div class="info">
            <h2 class="equipment-title" id="title-mouse">Mouse</h2>
            <p>Logitech MX master 2, there is a reason why "Mouse" is at the bottom of the list. "Why use a mouse when you can use a keyboard with vim keybindings" - Julius Caesar or someone.</p>
        </div>
        <a class="img-link" href="https://support.logi.com/hc/en-us/articles/360023459853-MX-MASTER-2S-WIRELESS-MOUSE">
            <img class="equipment-img" src="/assets/setup/mouse.png" alt="Logitech MX master 2"> 
        </a>
    </section>
</section>