<section>
    <h1>My setup</h1>
    <p>Computer: Thinkpad T14 gen 3, Fn and Ctrl may be in the wrong positions but that red nipple compensates for it all.</p>
    <p>Keyboard: Happy Hacking Keyboard Classic, yes you can use it for other things than hacking, like writing this sentence.</p>
    <p>Monitor: Philips 43" BDM4350UC UHD/4K, you may think that 43" monitor is too big and you would be right. It is, however, not as horrible as you might think.</p>
    <p>Mouse: Logitech MX master 2, there is a reason why "Mouse" is at the bottom of the list. "Why use a mouse when you can use a keyboard with vim keybindings" - Julius Caesar or someone.</p>
</section>