<div id="home-page">
    <section id="info">
        <div id="first-row">
            <h1>Anton Augustsson</h1>
            <div id="social-media">
                <a href="https://www.linkedin.com/in/anaug/">
                    <img class="social-media-icon" src="/assets/social-media/linkedin-svgrepo-com.svg" alt="Linkedin"> 
                </a>
                <a href="https://github.com/Anton-Augustsson">
                    <img class="social-media-icon" src="/assets/social-media/github-svgrepo-com.svg" alt="github"> 
                </a>
            </div>
        </div>
        <div id="second-row">
            <p> I am in my fourth year of the M.Sc. Computer and Information Engineering at Uppsala University with a focus on embedded systems and software development. My work experience is in a system testing team at Atlas Copco where I worked for 1.5 years. I have been programming for about six years in several languages. </p>
        </div>
    </section>
</div>